*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 10px = 1rem
  overflow-x: hidden;

  @media only screen and (max-width: 50em) {
    font-size: 50%;
  }
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: $color-neutral-6;
  line-height: 1.6;
  box-sizing: border-box;
  overflow-x: hidden;
}
