.heading-primary {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  @media only screen and (max-width: 28.75em) {
    gap: 0.7rem;
  }

  &__main {
    color: $color-neutral-7;

    font-size: 3rem;

    font-weight: 800;

    @media only screen and (max-width: 28.75em) {
      font-size: 2.4rem;
    }
  }

  &__sub {
    background-color: $color-primary-2;
    padding: 0 1rem;
    color: $color-neutral-1;
    border-radius: 5px;
    font-size: 2rem;

    font-size: 1.6rem;

    // font-weight: 500;
  }
}

.paragraph {
  &--2 {
    margin-top: 1.2rem;
    border: 1px solid $color-neutral-3;
    padding: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      background-color: $color-neutral-3;
    }
  }
}
